@model ExpenseVoyage.Models.Trips

@{
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<div class="breadcumb-wrapper" data-bg-src="@Url.Content("~/asset/img/normal/breadcumb-bg.jpg")">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Edit Trip</h1>
            <ul class="breadcumb-menu">
                <li><a asp-action="Index">Home</a></li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
</div>

<div class="space-extra2-top space-extra2-bottom">
    <div class="container">
        <div class="row flex-row-reverse justify-content-center align-items-center">
            <div class="col-lg-6">
                <form asp-action="Trip_Update_Trip" asp-controller="User" method="post" class="contact-form style2">
                    @Html.AntiForgeryToken()  @* Ensure CSRF protection *@
                    <h3 class="sec-title mb-30 text-capitalize">Edit Trip</h3>
                    <div class="row">
                        <input type="hidden" asp-for="id" /> @* Include the trip ID for updates *@

                        <div class="col-12 form-group">
                            <input type="text" class="form-control" asp-for="trip_name" placeholder="Trip Name" required>
                            <span asp-validation-for="trip_name" class="text-danger"></span>
                        </div>
                        <div class="col-12 form-group">
                            <input type="date" class="form-control" asp-for="start_Date" required>
                            <span asp-validation-for="start_Date" class="text-danger"></span>
                        </div>
                        <div class="col-12 form-group">
                            <input type="date" class="form-control" asp-for="end_Date" required>
                            <span asp-validation-for="end_Date" class="text-danger"></span>
                        </div>
                        <div class="col-12 form-group">
                            <input type="text" class="form-control" asp-for="Destination" placeholder="Destination" required>
                            <span asp-validation-for="Destination" class="text-danger"></span>
                        </div>
                        <div class="col-12 form-group">
                            <input type="text" class="form-control" asp-for="Budget" placeholder="Budget" required>
                            <span asp-validation-for="Budget" class="text-danger"></span>
                        </div>

                        <div class="form-btn col-12 mt-24">
                            <input type="submit" value="Update" class="th-btn style3">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
