@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1 class="justify-content-center">@ViewData["Title"]</h1>

<hr />
<div class="d-flex justify-content-center mt-20">
    <div class="col-md-4">
        <form method="post" class="newsletter-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Email" class="form-control" placeholder="Email" autocomplete="username" aria-required="true" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <button type="submit" class="th-btn style3">Reset Password</button>
        </form>
    </div>
</div>
            <h2 class="justify-content-center">Enter your email.</h2>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
